#login-container {
    position: fixed;
    top: calc(50% + 40px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    z-index: 150;
    background: white;
    box-shadow: 0 0 10px gainsboro;
    opacity: 1;
    padding: 40px 100px;
}

#login-container label {
    width: 500px;
    height: 50px;
    display: block;
    background-color: #efefef;
}
#login-container label img {
    margin: 10px;
    height: 30px;
    width: 30px;
    float: left;
}
#login-container label input {
    width: 450px;
    height: 50px;
    float: left;
    background: rgb(250, 250, 250);
    border: 1px solid #efefef;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding: 0 15px;
}
#login-container h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0;
}

#login-container input[type=submit] {
    width: 100%;
    margin: 10px 0;
    height: 48px;
    background-color: #676c73;
    color: white;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
}

#upload-container {
    position: fixed;
    top: calc(50% + 40px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    z-index: 150;
    background: white;
    box-shadow: 0 0 10px gainsboro;
    opacity: 1;
    padding: 40px 70px 60px 70px;
}
#upload-container h2 {
    margin-bottom: 30px;
}
#upload-container input {
    height: 50px;
    padding: 0 15px;
}
#upload-container input[type=text] {
    width: 500px;
}

.image-ads {
    border-top: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
    height: 0;
}
.image-ad {
    height: 180px;
    background-color: whitesmoke;
    border: 1px solid #e2e2e2;
    width: 180px;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.image-container > div {
    position: relative;
}

.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url('https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif') center no-repeat;
    background-size: 200px auto;
}